 /* .navbar-brand {
     font-family: "Tapestry", serif;
     font-size: 50px;
     font-weight: bold;
     font-style: italic;
 }

 .navbar-nav {
     gap: 20px;
     /* Adds spacing between menu items */
 } */